.homepage{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 100px;

    @media screen and (max-width: 1024px) {
        flex-direction: column;
        gap: 20px;
        height: auto;
        padding: 20px;
        
    }
}

.homepage .left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;          
    gap: 16px;
    text-align: center;

    h1{
        font-size: 128px;
        background: linear-gradient(to right, #0b0be6e0, #f42a2ac9);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;

        @media screen and (max-width: 1024px) {
            font: 64px;           
        }
    }

    h2{
        
        word-wrap: break-word;
        font-weight: 400;
    }
    h3{
        
        word-wrap: break-word;
        font-weight: 250px;
        
        @media screen and (max-width: 1024px) {
            max-width: 100%;            
        }
    }

    a{
        padding: 15px 25px;
        background-color: #0b0be6e0;
        color: white;
        border-radius: 20px;
        margin-top: 20px;
    }

    a:hover{
        background-color: #e8e8e8e3;
        color: #0b0be6e0;
        
    }
}

.homepage .right{
    flex: 1;

    .chat{
        /* position: absolute; */
        top : 30px;
        bottom: -30px;
        right: -50px;
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: #2c2937;
        border-radius: 10px;
        padding: 20px;

        @media screen and (max-width: 1024px) {
            display: none;           
        }

    }
}

.homepage .terms{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
    .links{
        display: flex;
        gap: 10px;
        color: #888;
        font-size: 12px;

    }
    
}